{% extends "base.html" %}

{% block content %}
<section class="row">
  <h1>Profil bearbeiten</h1>
  <img src="{{ user.profile.avatar.url }}"/>

  <form method="post" id="ProfileForm" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
      {% csrf_token %}

      <label>Username:</label>
          {{ user_form.username }}
      <label>Email:</label>
          {{ user_form.email }}
      <label>Country:</label>
          {{ user_form.country }}
      <label>City:</label>
          {{ user_form.city }}

      <br><br>
      <a href="#">Change Password:</a><br><br>
      <hr>
      <label>Change Avatar:</label>
          {{ profile_form.avatar }}
      <br><br>
      <label>Geschlecht:</label>
      {{ profile_form.gender }}
      <br><br>
      <label>Wohnort:</label>
      {{ profile_form.location }}
      <br><br>
      <label>Bio:</label>
          {{ profile_form.bio }}
      <br><br>
      <label>Interessen:</label>
          {{ profile_form.interests }}
      <br><br>

      <button type="submit">Änderungen speichern</button>
  </form>

</section>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#ProfileForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock scripts %}