{% extends "base.html" %}

{% block content %}
<section class="row">
  <h1>Profil bearbeiten</h1>
  <section id="profile_edit">

    <img src="{{ user.profile.avatar.url }}"/>
    <hr class="dotted-line">

    <form method="post" class="standart-form" id="ProfileForm" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% csrf_token %}

        <div class="mq-profile-form-flex">
          <div class="mq-profile-form-div">
            <div>
              <label>Username:</label>
              {{ user_form.username }}
            </div>
            <div>
              <label>Email:</label>
              {{ user_form.email }}
            </div>
          </div>
          <div class="mq-profile-form-div">
            <div>
              <label>Change Avatar:</label>
              {{ profile_form.avatar }}
            </div>
            <div>
              <label>Geschlecht:</label>
              {{ profile_form.gender }}
            </div>
          </div>
        </div>
        <div>
          <label>Schreib' etwas über dich:</label>
          {{ profile_form.bio }}
        </div>
        <div>
          <label>Interessen:</label>
          {{ profile_form.interests }}
        </div> 
        
        <!-- <label>Country:</label>
            {{ user_form.country }}
        <label>City:</label>
            {{ user_form.city }} -->
        
        <!-- <a href="#">Change Password:</a> -->
        
        <button class="colorfull-btn" type="submit">Änderungen speichern</button>
    </form>
  </section>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#ProfileForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock scripts %}