{% extends 'base.html' %}
{% block title %}Profil | {% endblock %}
{% block content %}
{% load like_tags %}

<section class="row" id="profile-detail">
    <!-- Invisible Bedingung -->
{% if profile.user.profile.invisible and profile.user != request.user and profile.user.username not in freunde_namelist %}
    <p class="no-entry">Das Profil von {{ profile.user.username }} ist leider nur für Freunde sichtbar.</p>
    
    <!-- Friendrequest Handling wenn Invisible -->
    {% if profile.user.username not in freunde_namelist %}
        {% if profile.user.username not in freund_eingehend_namelist and profile.user.username not in freund_ausgehend_namelist %}
            <a class="colorfull-btn" href="{% url 'send_friend_request' to_user_id=profile.user.id %}">Freundschaftsanfrage senden</a>
        {% else %}
            {% if profile.user.username in freund_ausgehend_namelist %}
                <p>{{ profile.user.username }} hat von dir einen Friendrequest erhalten!</p>
                <p>Anfrage zurückziehen:</p>
                <a class="colorfull-btn" href="{% url 'withdraw_friend_request' profile_id=profile.id %}">'n Rückzieher machen!</a>
            {% elif profile.user.username in freund_eingehend_namelist %}
                <p>Du hast eine Freundesanfrage von {{ profile.user.username }} bekommen!</p>
                <a class="colorfull-btn" href="{% url 'friend_requests' %}">Zu Deinen Friendrequests!</a>
                <a class="colorfull-btn color-change" href="{% url 'profile_detail' pk=request.user.id %}">Zurück zum Profil</a>
            {% endif %}
        {% endif %}
    {% endif %}

{% else %}
    <!-- Wenn profil sichtbar, Profiluser mit Infos -->
    <div class="flex avatar-user">
        <img id="profile-avatar" src="{{ profile.avatar.url }}" alt="avatar">
        <div class="w-100">
            <h1> {{ profile.user }}</h1>
            <hr id="hr-margin-none" class="dotted-line">
            <div class="flex">
                <p>{{ age }},</p>
                <p>{{ profile.gender }}</p>
            </div>
            <hr id="hr-margin-none" class="dotted-line">
            <div class="mq-flex birthdate-location">
                <div class="mq-flex">
                    <p class="bold">Geburtsdatum:</p>
                    <p>{{ profile.user.birthdate|date:"d.m.Y" }}</p>
                </div>
                <div class="mq-flex">
                    <p class="bold">Wohnort:</p>
                    <p>{{ profile.user.country }}, {{ profile.user.city.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-detail-list">
        <div class="display-none">
            <div>
                <p class="bold">Geburtsdatum:</p>
                <p>{{ profile.user.birthdate|date:"d.m.Y" }}</p>
            </div>
            <div>
                <p class="bold">Wohnort</p>
                <p>{{ profile.user.country }}, {{ profile.user.city.name }}</p>
            </div>
        </div>
        <div class="profile-bio">
            <p>{{ profile.bio }}</p>
        </div>
        <div>
            <p class="bold">Interessen:</p>
            <p>{{ profile.interests }}</p>
        </div>
    </div>

    <!-- Wenn angemeldete user.id != profil.id -->
    <!-- kann man Chat mit Profiluser erstellen -->
    <!-- und wenn Profiluser nicht unter Freunden und auch kein friendrequest besteht  -->
    <!-- dann wird friendrequest ermöglicht -->
    <!-- und wenn unter freunden, kann man auch freundschaft beenden -->
    {% if request.user.id != profile.user.id %}
    <section class="friend-chat-section">
        <div>
            <a class="colorfull-btn" id="chat-button" href="{% url 'create_chat' own_id=request.user.id foreign_id=profile.user.id%}"><img src="../../media/icons/comment.png" alt=""></a>
            {% if profile.user.username not in freunde_namelist %}
                {% if profile.user.username not in freund_eingehend_namelist and profile.user.username not in freund_ausgehend_namelist %}
                    <a class="colorfull-btn" href="{% url 'send_friend_request' to_user_id=profile.user.id %}">Freundschaftsanfrage senden</a>
                {% else %}
                    {% if profile.user.username in freund_ausgehend_namelist %}
                        <a class="colorfull-btn" href="{% url 'withdraw_friend_request' profile_id=profile.id %}">Anfrage zurückziehen</a>
                    {% elif profile.user.username in freund_eingehend_namelist %}
                        <a class="colorfull-btn" href="{% url 'friend_requests' %}">Anfrage annehmen</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="colorfull-btn" href="{% url 'remove_friend' profile_id=profile.id %}">Freundschaft Beenden</a> 
            {% endif %}
        </div>
        {% if profile.user.username in freunde_namelist %}
            <p>Ihr seid seit dem {{ freund_seit|date:"d.m.Y" }} befreundet</p>
        {% endif %}
    </section>

    

    <!-- Profil Sichtbarkeit -->
    {% else %}
        
    <div class="profile-visibility">
        <p>Dein Profil ist für Fremde:</p> 
        <button id="visibility-toggle-btn" data-visible="{{ request.user.profile.invisible }}">
            {% if request.user.profile.invisible %}
                unsichtbar
            {% else %}
                sichtbar
            {% endif %}
        </button>
    </div>
    {% endif %}
    <hr class="dotted-line">

    <div class="mq-gap-flex">
    <!-- Freunde des Users -->
    <section class="profile-friends">
    {% if request.user != profile.user %}
        <h2>{{ profile.user.username }}'s Freunde</h2>  
        <p>{{ num_profil_freunde }} Freunde</p>

        <ul class="profile-friends-container">
            {% for freund in profil_freunde %}
                {% if profile.user.username != freund.from_user.username %}
                    <li><a href="{% url 'profile_detail' pk=freund.from_user.id %}">{{ freund.from_user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'profile_detail' pk=freund.to_user.id %}">{{ freund.to_user.username }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

    {% else %}
        <div class="mq-flex friend-btn-flex">
            <h2>Deine Freunde</h2>
            <a class="colorfull-btn" href="{% url 'friend_requests' %}">Alle Anfragen</a>
        </div>
        <h2 class="display-none">Deine Freunde</h2>
        <p>{{ num_freunde }} Freunde</p>

        <ul class="profile-friends-container">
            {% for freund in freunde %}
                {% if user.username != freund.from_user.username %}
                    <li><a href="{% url 'profile_detail' pk=freund.from_user.id %}">{{ freund.from_user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'profile_detail' pk=freund.to_user.id %}">{{ freund.to_user.username }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <a class="colorfull-btn display-none" href="{% url 'friend_requests' %}">Alle Freundschaftsanfragen</a>
    <hr class="dotted-line display-none">
    </section>

    <!-- Post-Funktion auf dem User-Profil -->

    <section class="create-post">
        <h2>Post erstellen</h2>
        <div>
            <form class="profile-post-form" method="post" enctype="multipart/form-data" action="{% url 'create_post' profile_id %}">
                {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{ profile_id }}">
                <label for="textarea">Schreib etwas...</label>
                {{ post_form.text }}
                <label for="image">Image</label>
                {{ post_form.image }}
                <label for="link">Link</label>
                {{ post_form.link }}
                <label for="event">Event</label>
                {{ post_form.event }}
                <label for="show_in_feed">In den Newsfeed?</label>
                {% if request.user.profile == profile %}
                    {{ post_form.show_in_feed }}
                {% endif %}
                <button class="colorfull-btn color-change" type="submit">Posten</button>
            </form>
        </div>
        <hr class="dotted-line display-none">
    </section>
    </div>
    <hr class="dotted-line">

    <!-- Posts anzeigen -->

    <section class="user-posts">
        <h2>Timeline</h2>            
        {% if profile_user_posts %}
        <div class="mq-post-flex">
            {% for post in profile_user_posts %}
            <div class="main-post" id="main-post">
                <div>
                    <div class="flex">
                        <a class="bold post-user" href="{% url 'profile_detail' pk=post.user.id %}">{{ post.user.username }}</a>
                        <p>{{ post.created_at|date:"d.m.Y H:i" }}</p>
                    </div>
                    <hr class="dotted-line">
                    <a href="{% url 'post_detail' post.id %}" class="details-link">
                    {% if post.image %}<img src="{{ post.image.url }}" alt="Post image">{% endif %}
                    {% if post.text %}<p class="post-text">{{ post.text|truncatechars:100|safe }}</p>{% endif %}
                    {% if post.event %}<p>Veranstaltung: {{ post.event.title }}</p>{% endif %}
                    </a>
                </div>
                <div>
                    {% if post.link %}<a class="post-link" href="{{ post.link }}">{{ post.domain }}</a>{% endif %}
                    <hr class="dotted-line">
                    {% if post|has_liked_post:request.user %}
                    <a class="like-post-btn" data-like_post_ajax="{% url 'like_post_ajax' %}" data-post-id="{{ post.id }}" href="#"><img id="like-image" src="{{ '../../media/icons/heartfull.png' }}" alt=""></a>
                    {% else %}
                    <a class="like-post-btn" data-like_post_ajax="{% url 'like_post_ajax' %}" data-post-id="{{ post.id }}" href="#"><img id="like-image" src="{{ '../../media/icons/heart.png' }}" alt=""></a>
                    {% endif %}
                    
                    <a class="post-likes-count" href="{% url 'likelist_post' post.id %}">{{ post.likes.count }}</a>
                    <a href="{% url 'post_detail' post.id %}"> | Kommentare {{ post.comments.count }}</a>
                    {% if request.user == post.user or request.user.is_superuser or request.user == profile.user %}
                    <a href="{% url 'edit_post' post.id %}">| Bearbeiten</a>
                    <a href="{% url 'delete_post' post.id %}">| Löschen</a>
                    {% endif %}
                    
                    {% if request.user == post.user and request.user == profile.user %}
                    <button id="post-toggle-button-{{ post.id }}" class="post-toggle-btn" data-post-id="{{ post.id }}" {% if post.show_in_feed %} data-show-in-feed="true" {% else %} data-show-in-feed="false" {% endif %}>
                        {% if post.show_in_feed %}
                            FEED
                        {% else %}
                            UNFEED
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="no-entry">Keine Beiträge vorhanden...</p>
    </section>
    {% endif %}
{% endif %}
</section>
</section>
{% endblock content %}



{% block scripts %}
<!-- AJAX Skript -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.like-post-btn').click(function(e){
            e.preventDefault();
            var postId = $(this).data('post-id');
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
            var btn = $(this);
            var likeCountSpan = btn.closest('div').find('.post-likes-count');
            var likePostUrl = btn.data('like_post_ajax');
            var heartFullIcon = "../../media/icons/heartfull.png" // Pfad zum Herz-voll-Bild
            var heartEmptyIcon = "../../media/icons/heart.png" // Pfad zum Herz-leer-Bild

            $.ajax({
                type: 'POST',
                url: likePostUrl,
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'post_id': postId
                },
                success: function(response){
                    if(response.liked){
                        var html = '<img src="' + heartFullIcon + '" alt="liked">';
                        btn.html(html);
                    } else {
                        var html = '<img src="' + heartEmptyIcon + '" alt="Unliked">';
                        btn.html(html);
                    }
                    likeCountSpan.text(response.total_likes);
                }
            });
        });

        $('#visibility-toggle-btn').click(function() {
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var isVisible = $(this).data('visible');
    
            $.ajax({
                type: 'POST',
                url: '{% url 'invisible_check' %}',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'visible': isVisible
                },
                success: function(response) {
                    if (response.visible) {
                        $('#visibility-toggle-btn').text('unsichtbar').data('visible', false);
                    } else {
                        $('#visibility-toggle-btn').text('sichtbar').data('visible', true);
                    }
                },
                error: function(xhr, status, error) {
                    alert("Ein Fehler ist aufgetreten: " + error);
                }
            });
        });
        
        // Neuer Code für die Post-Newsfeed-Toggle-Funktionalität
        $('.post-toggle-btn').click(function() {
            var button = $(this);
            var postId = button.data('post-id');
            var showInFeed = button.data('show-in-feed');
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
    
            // AJAX-Anfrage zum Aktualisieren des Status
            $.ajax({
                type: 'POST',
                url: '{% url "update_post_feed" %}',
                data: {
                    'post_id': postId,
                    'show_in_feed': !showInFeed, // umkehren des aktuellen Status
                    'csrfmiddlewaretoken': csrfToken // CSRF-Token aus dem Template
                },
                success: function(response) {
                    if (response.status === 'success') {
                        // Erfolgreiche Aktualisierung, aktualisieren Sie den Button und die Datenattribute
                        if (showInFeed) {
                            button.data('show-in-feed', false);
                            button.text('UNFEED');
                        } else {
                            button.data('show-in-feed', true);
                            button.text('FEED');
                        }
                    } else {
                        // Fehler bei der Aktualisierung
                        console.error('Fehler beim Aktualisieren des Feed-Status');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX-Fehler: ' + error);
                }
            });
        });
    });
</script>

{% endblock scripts %}

