{% extends 'base.html' %}
{% block title %}Notifications | {% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<section class="row notification-section">
    <h1>Benachrichtigungen</h1>

    <h2>{{ notifications_new_count }} Neuigkeiten:</h2>    

    <ul>
        {% for notification in notifications_new %}
        <li>
            <div>
                <a class="colorfull-txt bold" href="{% url 'mark_notification_as_read' notification.id %}">{{ notification }}</a> von 
                <a class="bold" href="{% url 'profile_detail' notification.from_user.id %}">{{ notification.from_user }}</a> 
            </div>
            <p>{{ notification.created_at|date:"d.m.Y H:i" }}</p>
        </li>
        <hr class="dotted-line">
        {% empty %}
            <li>Nix neues passiert..</li>
        {% endfor %}
    </ul>

    <h2>Ältere Benachrichtigungen:</h2>
    <ul>
        {% for notification in notifications_read %}
            <li>
                <div>
                    <a class="color-txt-grey" href="{{ notification.notification_link }}">{{ notification }}</a> von
                    <a class="bold" href="{% url 'profile_detail' notification.from_user.id %}">{{ notification.from_user }}</a>
                </div>
                <p>{{ notification.created_at|date:"d.m.Y H:i" }}</p>
            </li>
            <hr class="dotted-line">
        {% empty %}
            <li>Vorher war noch nix..</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nicht authentifiziert.</p>
{% endif %}
</section>

{% endblock %}
