{% extends 'base.html' %}
{% block content %}
{% load like_tags %}

<section class="row">
    <p><a href="{% url 'home' %}">&#171 Zurück zum Newsfeed</a></p>
    <section class="post-detail-section">
        {% if post.image %}
            <img class="post-img" src="{{ post.image.url }}" alt="Bild des Posts">
        {% endif %}

        <div class="pds-flex">
            <div>
                <a class="color-txt-bm bold" href="{% url 'profile_detail' pk=post.user.id %}">{{ post.user }}</a>
                <hr id="hr-margin-none" class="dotted-line">
                {% if post.text %}
                    <p>{{ post.text|safe }}</p>
                {% endif %}
            </div>
            <div>
                {% if post.link %}
                    <a class="post-link" href="{{ post.link }}">{{ post.link }}</a>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="like-com-section">
        {% if post|has_liked_post:request.user %}
            <button class="like-post-btn colorfull-btn" data-post-id="{{ post.id }}">UNLIKE</button>
        {% else %}
            <button class="like-post-btn colorfull-btn" data-post-id="{{ post.id }}">LIKE</button>
        {% endif %}

        <div>
            <a href="{% url 'likelist_post' post.id %}">
                <span class="post-likes-count">{{ post.total_likes }} Likes</span>
            </a>
            <a href="{% url 'post_detail' post.id %}">  |  {{ post.comments.count }} Kommentare</a>
        </div>
    </section>

    <hr class="dotted-line">

    <section class="write-comment">
        {% if user.is_authenticated %}
        <form class="standart-form" method="post">
            {% csrf_token %}
            <div class="wc-form-flex">
                <div>
                {{ comment_form.comment }}
                </div>
                <div class="wc-button-flex">
                    <div>
                        {{ comment_form.image }}
                        <input type="url" name="link" maxlength="200" id="id_link" placeholder="URL einfügen">
                    </div>
                    <button class="colorfull-btn color-change" type="submit">Kommentieren</button>
                </div>
            </div>
        </form>
        {% else %}
            <p><a href="{% url 'login' %}">Logge dich ein</a>, um zu kommentieren.</p>
        {% endif %}
    </section>

    <hr class="dotted-line">
    
    {% for comment in comments %}
    <section class="comments">
            <div class="main-comment-sec">
                <div class="flex">
                    <a class="colorfull-txt bold" href="{% url 'profile_detail' pk=comment.user.id %}">{{ comment.user.username }}</a>
                    <p>{{ comment.created_at|date:"d.m.Y, H:i" }}</p>
                </div>
            
            <p>{{ comment.comment|safe }}</p>
            {% if comment.link %}
                <p class="comment-link">{{ comment.link }}</p>
            {% endif %}
            </div>

            <!-- Like handling Kommentar -->
            <div class="like-comment-sec">
                <div>
                    {% if comment|has_liked_comment:request.user %}
                        <button class="like-comment-btn" data-comment-id="{{ comment.id }}">Unlike</button>
                    {% else %}
                        <button class="like-comment-btn" data-comment-id="{{ comment.id }}">Like</button>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'likelist_comment' comment.id %}">
                        <span class="comment-likes-count">{{ comment.total_likes_comment }} Likes</span>
                    </a>

                    {% if request.user == comment.user or request.user.is_superuser %}
                        <a href="{% url 'comment_edit' comment.id %}">Bearbeiten</a>
                        <a href="{% url 'comment_delete' comment.id %}"> | Löschen</a>
                    {% endif %}
                </div>
            </div>
    </section>
    {% endfor %}
</section>
{% endblock %}
{% block scripts %}
<!-- dieser Skript hier ist die JavaSkript IMplementierung für die verarbeitung der echtzeit-Likes-->
<script type="text/javascript">
    $(document).ready(function(){
        // Funktion für das Liken von Posts
        $('.like-post-btn').click(function(e){
            e.preventDefault();
            var postId = $(this).data('post-id');
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var btn = $(this); // Speichert den Button, um später darauf zuzugreifen
            var likeCountSpan = btn.closest('strong').find('.post-likes-count'); // Geändert

            $.ajax({
                type: 'POST',
                url: '{% url 'like_post_ajax' %}',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'post_id': postId
                },
                success: function(response){
                    if(response.liked){
                        btn.text('UNLIKE'); // Text des Buttons ändern
                    } else {
                        btn.text('LIKE');
                    }
                    // Aktualisiert die Anzahl der Likes nur für diesen spezifischen Post
                    likeCountSpan.text(response.total_likes + ' Likes');
                }
            });
        });
    
        // Funktion für das Liken von Kommentaren
        $('.like-comment-btn').click(function(e){
            e.preventDefault();
            var commentId = $(this).data('comment-id');
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var btn = $(this); // Speichert den Button, um später darauf zuzugreifen
            var likeCountSpan = btn.closest('strong').find('.comment-likes-count');

            $.ajax({
                type: 'POST',
                url: '{% url 'like_comment_ajax' %}',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'comment_id': commentId
                },
                success: function(response){
                    if(response.liked){
                        btn.text('Unlike'); // Text des Buttons ändern
                    } else {
                        btn.text('Like');
                    }
                    // Aktualisiert die Anzahl der Likes nur für diesen spezifischen Kommentar
                    likeCountSpan.text(response.total_likes_comment + ' Likes');
                }
            });
        });
    });
    </script>
{% endblock scripts %}
