{% extends 'base.html' %}
{% block content %}
{% load like_tags %}

<h3>{{ post.user }} teilte..</h3>
{% if post.text %}
    <p>{{ post.text }}</p>
{% endif %}

{% if post.image %}
    <img src="{{ post.image.url }}" alt="Bild des Posts">
{% endif %}

{% if post.link %}...Klick: <a href="{{ post.link }}">{{ post.domain }}</a>{% endif %}


<!-- Like und Kommentar Handling Post-->
<strong>
    {% if post|has_liked:request.user %}
        <button class="like-post-btn" data-post-id="{{ post.id }}">UNLIKE</button>
    {% else %}
        <button class="like-post-btn" data-post-id="{{ post.id }}">LIKE</button>
    {% endif %}

    <a href="{% url 'likelist_post' post.id %}">
        <span class="post-likes-count">{{ post.total_likes }} Likes</span>
    </a>
    <a href="{% url 'post_detail' post.id %}">  |  {{ post.comments.count }} Kommentare</a>
</strong>





<hr><br><br>
<h3>Kommentare</h3>
{% for comment in comments %}
    <p><strong><a href="{% url 'profile_detail' pk=comment.user.id %}">{{ comment.user.username }}</a> </strong> <em>antwortete am {{ comment.created_at|date:"d.m.Y, H:i" }}:</em><br>
        {{ comment.comment }}</p>


    <!-- Like handling Kommentar -->
    <strong>
        {% if comment|has_liked:request.user %}
            <button class="like-comment-btn" data-comment-id="{{ comment.id }}">Unlike</button>
        {% else %}
            <button class="like-comment-btn" data-comment-id="{{ comment.id }}">Like</button>
        {% endif %}
        <a href="{% url 'likelist_comment' comment.id %}">
            <span class="comment-likes-count">{{ comment.total_likes_comment }} Likes</span>
        </a>



    
        {% if request.user == comment.user or request.user.is_superuser %}
            <a href="{% url 'comment_edit' comment.id %}">Bearbeiten</a>
            <a href="{% url 'comment_delete' comment.id %}"> | Löschen</a>
        {% endif %}
    </strong>
        <br><br>
        <p> ................................................ </p>
        <br>
{% endfor %}


<p> ---------------------------------------------------------------------------------</p><br>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Kommentieren</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Logge dich ein</a>, um zu kommentieren.</p>
{% endif %}


<!-- dieser Skript hier ist die JavaSkript IMplementierung für die verarbeitung der echtzeit-Likes-->
<script type="text/javascript">
    $(document).ready(function(){
        // Funktion für das Liken von Posts
        $('.like-post-btn').click(function(e){
            e.preventDefault();
            var postId = $(this).data('post-id');
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var btn = $(this); // Speichert den Button, um später darauf zuzugreifen
            var likeCountSpan = btn.closest('strong').find('.post-likes-count'); // Geändert

            $.ajax({
                type: 'POST',
                url: '{% url 'like_post_ajax' %}',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'post_id': postId
                },
                success: function(response){
                    if(response.liked){
                        btn.text('UNLIKE'); // Text des Buttons ändern
                    } else {
                        btn.text('LIKE');
                    }
                    // Aktualisiert die Anzahl der Likes nur für diesen spezifischen Post
                    likeCountSpan.text(response.total_likes + ' Likes');
                }
            });
        });
    
        // Funktion für das Liken von Kommentaren
        $('.like-comment-btn').click(function(e){
            e.preventDefault();
            var commentId = $(this).data('comment-id');
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var btn = $(this); // Speichert den Button, um später darauf zuzugreifen
            var likeCountSpan = btn.closest('strong').find('.comment-likes-count');

            $.ajax({
                type: 'POST',
                url: '{% url 'like_comment_ajax' %}',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    'comment_id': commentId
                },
                success: function(response){
                    if(response.liked){
                        btn.text('Unlike'); // Text des Buttons ändern
                    } else {
                        btn.text('Like');
                    }
                    // Aktualisiert die Anzahl der Likes nur für diesen spezifischen Kommentar
                    likeCountSpan.text(response.total_likes_comment + ' Likes');
                }
            });
        });
    });
    </script>

{% endblock %}