{% extends 'base.html' %}

{% block title %}Login | {% endblock %}

{% block content %}

<section class="login-section">
    <form class="login-form" method="post">
        {% csrf_token %}
        <div class="flex-wrap-container">
            <div>
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="password">Passwort:</label>
                {{ form.password }}
            </div>
        </div>
        <button type="submit">Login</button>
    </form>

    <div class="login-signup-banner">
        <p>Du hast noch keinen Account?</p>
        <a href="{% url 'signup' %}">Hier gehts zur Registrierung!</a>
    </div>
</section>

{% endblock %}