{% extends 'base.html' %}
{% block content %}

<h2>Liste der gespeicherten Wörter</h2>
<p> Diese Liste an Wörtern sollte immer meher erweitert werden, da diese dazu dient <br>
    die Suchbegriffe des Users zu erweitern, falls dieser keine Treffer hat aufgrund spelling usw. <br>
    Auf Dauer kann hier zusätzlich auch über eine API eine Wortliste integriert werden! <br> 
    Denke daran, dass diese Liste Datenbankabhängig ist und zunächst leer!</p>
<br>


<!-- Anzeigen der Liste der gespeicherten Wörter -->
<ul>
    {% for term in terms %}
    <li>
        {{ term.word }}
        <a href="{% url 'delete_term' term.id %}">Löschen</a>
    </li>
    
    {% empty %}
    <li>Keine Wörter vorhanden.</li>
    {% endfor %}
</ul>

<!-- Link zum Hinzufügen neuer Wörter -->
<a href="{% url 'add_terms' %}">Neues Wort hinzufügen</a>

{% endblock %}