{% extends 'base.html' %}

{% block content %}
<section class="row">
    <h1>Buddy Suche</h1>
    <form class="standart-form" method="GET" action="{% url 'user_filter' %}">
        <div class="user-search">
            <div>
                <label for="interests">Suche nach Interessen</label>
                <input type="text" name="interests" placeholder="z.B. Knäckebrot, Musik, ..." value="{{ interests }}">

                <label for="min_age">Mindestalter</label>
                <input type="number" name="min_age", min="0" placeholder="z.B. 18">
                <label for="max_age">Höchstalter</label>
                <input type="number" name="max_age", min="0" placeholder="z.B. 99">

                <label for="gender">Geschlecht</label>
                <select name="gender">
                    <option value="">Alles</option>
                    <option value="female">weiblich</option>
                    <option value="male">männlich</option>
                    <option value="divers">divers</option>
                </select>
            </div>

            <div>
                <label for="city">Stadt</label>
                <input type="text" name="city" placeholder="z.B. Berlin">
                
                <label for="country">Land</label>
                <input type="text" name="country" placeholder="z.B. Deutschland">
                
                <label for="last_online_cut">Zuletzt online (Tage)</label>
                <input type="number" name="last_online_cut", min="0" placeholder="z.B. 7">
            </div>
        </div>
        <button class="colorfull-btn" type="submit">Seeek</button>
    </form>

    <h3>Suchergebnis:</h3>
    <!-- ich sage, nur wenn es GET requests gibt bisher (also eine suchanfrage), führt er die auflistung der ergebnisse aus  -->
    {% if request.GET %}
        {% if users %}
            <ul class="seek-result">
                {% for user in users %}
                    <li>
                        <a class="colorfull-txt" href="{% url 'profile_detail' pk=user.profile.id %}">{{ user.username }}</a>
                        <p>zuletzt online: {{ user.profile.last_online|date:"d.m.Y H:i" }}</p>
                    </li>
                    <hr class="dotted-line" id="hr-margin-none">
                {% endfor %}
            </ul>
        {% else %}
            {% if similar_interests %}
                <p>Tut uns leid darunter finden wir nichts, meintest du vielleicht:</p>
                <ul>
                    {% for similar_interest in similar_interests %}
                        <li>
                            <form action="{% url 'user_filter' %}" method="get">
                                <input type="hidden" name="interests" value="{{ similar_interest }}">
                                <button type="submit">{{ similar_interest }}</button>
                            </form>
                        </li>
                    {% endfor %}
                    <form action="{% url 'user_filter' %}" method="get">
                        <button class="colorfull-btn color-change" type="submit">Reset</button>
                    </form>
                </ul>
            {% else %}
                <p>....mh so jemanden scheint es hier nicht zu geben...</p>
            {% endif %}
        {% endif %}
    {% else %}
        Du hast noch nichts gesucht...
    {% endif %}
    
    <br>
    <br>
</section>
{% endblock %}
