.Copy-of-vintage-1-hex { color: #63A69F; }
.Copy-of-vintage-2-hex { color: #F2EFDF; }
.Copy-of-vintage-3-hex { color: #F2CA99; }
.Copy-of-vintage-4-hex { color: #F28A2E; }
.Copy-of-vintage-5-hex { color: #40281A; }

@font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
}

/* Main Menu */

.main-menu{
    font-size: 1.3em;
    font-family: 'PoppinsRegular';
    background-color:#000000;
    border-bottom: 1vmin solid;
	border-image: linear-gradient(0.25turn, red, yellow, lime, aqua, blue, magenta, red) 10;
    height: 7vh;
    width: 100vw;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
.main-menu a{
    color: #ffffff;
    margin-right: 20px;
}
.menu-links{
    margin-right: 5vw;
}
.main-menu .logo{
    color: #ffffff;
    font-family: "PoppinsBold";
    margin-left: 5vw;
}

/* Burger Menu */

#burger-menu{
    width: 40px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    /* position: absolute; */
    right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    background-color: #ffffff;
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
}
.side-bar{
    background-color: #F2CA99;
    width: 90vw;
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 20px;
    position:fixed;
    top: -120vh;
    right: 0vw;
    z-index: 1;
    transition: 1s all ease;
    font-family: 'PoppinsMedium';
}
.side-bar nav a{
    color: #F2EFDF;
    margin-bottom: 10px;
    background-color: #63A69F;
    padding: 10px;
    border-radius: 5px;
    box-shadow:3px 3px #40281A;
}
.flex .logout{
    background-color: rgb(185, 0, 0);
    color: #F2EFDF;
    padding: 5px 10px;
    border-radius: 5px;
}
.flex .mm-link{
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.flex-wrap-container .logout{
    background-color: rgb(185, 0, 0);
    color: #F2EFDF;
    padding: 10px;
    border-radius: 5px;
    box-shadow:3px 3px #40281A;
}
.slide{
    top:110px;
}

/* Footer */

footer{
    background-color: #000000;
    width: 100vw;
    height: 3vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
footer a{
    color: #ffffff;
    font-size: 0.8em;
    font-family: 'PoppinsRegular';

}