.Copy-of-vintage-1-hex { color: #63A69F; }
.Copy-of-vintage-2-hex { color: #F2EFDF; }
.Copy-of-vintage-3-hex { color: #F2CA99; }
.Copy-of-vintage-4-hex { color: #F28A2E; }
.Copy-of-vintage-5-hex { color: #40281A; }

@font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
}

#burger-menu{
    width: 40px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    background-color: #40281A;
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
}
.side-bar{
    background-color: #F2CA99;
    /* height: 100vh; */
    width: 90vw;
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 20px;
    position:fixed;
    top: -120vh;
    right: 0vw;
    z-index: 1;
    transition: 1s all ease;
    font-family: 'PoppinsMedium';
}
/* .side-bar nav{
    flex-direction: row;
} */
.side-bar nav a{
    color: #F2EFDF;
    margin-bottom: 10px;
    background-color: #63A69F;
    padding: 10px;
    border-radius: 5px;
    box-shadow:3px 3px #40281A;
}
.flex .logout{
    background-color: rgb(185, 0, 0);
    color: #F2EFDF;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow:3px 3px #40281A; */
}
.flex .profile{
    color: #F2EFDF;
    /* background-color: #F2EFDF; */
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow:3px 3px #40281A; */
}
.flex-wrap-container .logout{
    background-color: rgb(185, 0, 0);
    color: #F2EFDF;
    padding: 10px;
    border-radius: 5px;
    box-shadow:3px 3px #40281A;
}
.slide{
    top:110px;
}