.Copy-of-vintage-1-hex { color: #63A69F; }
.Copy-of-vintage-2-hex { color: #F2EFDF; }
.Copy-of-vintage-3-hex { color: #F2CA99; }
.Copy-of-vintage-4-hex { color: #F28A2E; }
.Copy-of-vintage-5-hex { color: #40281A; }

