/* Color Theme Swatches in Hex */
.Copy-of-Fossil-Vintage---Kovács-Pisti-1-hex { color: #CFCA4C; }
.Copy-of-Fossil-Vintage---Kovács-Pisti-2-hex { color: #FCF5BF; }
.Copy-of-Fossil-Vintage---Kovács-Pisti-3-hex { color: #9FE5C2; }
.Copy-of-Fossil-Vintage---Kovács-Pisti-4-hex { color: #5EB299; }
.Copy-of-Fossil-Vintage---Kovács-Pisti-5-hex { color: #745A33; }

.Copy-of-vintage-1-hex { color: #63A69F; }
.Copy-of-vintage-2-hex { color: #F2EFDF; }
.Copy-of-vintage-3-hex { color: #F2CA99; }
.Copy-of-vintage-4-hex { color: #F28A2E; }
.Copy-of-vintage-5-hex { color: #40281A; }

@font-face {
    font-family: "PoppinsRegular";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    border: None;
    text-decoration: None;
}
body{
    background-color: #F2EFDF;
}

.main-menu{
    font-size: 1.6em;
    font-family: 'PoppinsRegular';
    background-color:#63A69F;
    height: 70px;
    text-align: center;
    text-align: end;
    padding-top: 15px;
    padding-right: 20px;
}
.main-menu a{
    color: #F2EFDF;
    background-color:#40281A;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
}
.main-menu a:hover{
    transition: ease-in-out 0.5s;
    padding-bottom: 15px;
}
.row{
    margin: 50px 20% 0px 20%;
}