/* Color Theme Swatches in Hex */
.Copy-of-vintage-1-hex { color: #63A69F; }
.Copy-of-vintage-2-hex { color: #F2EFDF; }
.Copy-of-vintage-3-hex { color: #F2CA99; }
.Copy-of-vintage-4-hex { color: #F28A2E; }
.Copy-of-vintage-5-hex { color: #40281A; }

@font-face {
    font-family: "PoppinsRegular";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    border: None;
    text-decoration: None;
}
.flex{
    display: flex;
}

body{
    background-color: #F2EFDF;
    color: #40281A;
}
h1, h2, h3, h4{
    font-family: "PoppinsBold";
    margin-bottom: 30px;
}

.main-menu{
    font-size: 1.6em;
    font-family: 'PoppinsRegular';
    background-color:#63A69F;
    border-bottom:2px solid #40281A;
    height: 70px;
    width: 100vw;
    padding: 20px 100px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
}
.main-menu a{
    color: #F2EFDF;
    margin-right: 20px;
}
.main-menu .logo{
    color: #F2EFDF;
    font-family: "PoppinsBold";
}
.main-menu .logout-icon{
    width: 22px;
    margin-top: 8px;
}
.main-menu .flex{
    width: 60vw;
    justify-content: end;
}
.row{
    margin-top: 50px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

/* Alle Räume */

.rooms-list{
    background-color: #fff;
    color: #40281A;
    width: 100%;
    padding: 10px 50px;
    justify-content:space-between;
    align-items: center;
    flex-shrink: inherit;
    margin-bottom: 10px;
    border-radius: 10px 140px 10px 140px;
}
.rooms-list div{
    font-family: "PoppinsBold";
}


/* Chat */

.chat-messages {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
    border: 5px solid #40281A;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.chat-messages .flex{
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
}
.chat-messages .flex div{
    width: 100%;
}
.chat-messages img{
    background-color: white;
    object-fit: cover;
    margin-top: 5px;
    margin-right: 10px;
    border: 2px solid #40281A;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 2px 1px #40281a17;
}
.chat-name{
    /* background-color: #F28A2E; */
    font-family: "PoppinsBold";
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0px;
    color: #40281A;
}
.chat-message-box{
    background-color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "PoppinsRegular";
    word-wrap: break-word;
    width: 90%;
}
.chat-form{
    background-color: #40281A;
    padding: 30px 55px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat-form-input{
    width: 85%;
    padding: 10px 20px;
    border-radius: 10px;
}
.chat-form-button{
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "PoppinsMedium";
    background-color: #F28A2E;
    color: #40281A;
    width: 10%;
}
.chat-form form{
    justify-content: space-between;
}