{% extends 'base.html' %}

{% block title %}Create Chat | {% endblock %}

{% block content %}
<section class="row">
<h1>Gruppenchat erstellen</h1>

    <form class="standart-form" method="post">
        {% csrf_token %}
        
        <div class="create-chat-flex">
        <fieldset>
            <p>Freunde</p>
            
            <div class="groupchat-list-container">
                {% for friend in friends %}
                <div>
                    <input type="checkbox" value="{{ friend.id }}" name="input_all_users" id="groupchat-checkbox">
                    <label for="friends_checkbox">{{ friend }}</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
        
        <fieldset>
            <p>Alle User</p>

            <div class="groupchat-list-container">
                {% for profile in profiles %}
                <div>
                    <input type="checkbox" value="{{ profile.id }}" name="input_all_users" id="groupchat-checkbox">
                    <label for="profile_checkbox">{{ profile }}</label>
                </div>
                {% endfor %}
            </div>     
        </fieldset>
        </div>
        <fieldset class="groupchat-form-submit">
            <p>Chatname:</p>
            <input name="room_name" type="text" required>
            <button class="colorfull-btn" type="submit">Gruppe erstellen</button>
        </fieldset>
        
    </form>
</section>
{% endblock content%}