{% extends 'base.html' %}

{% block title %}Create Chat | {% endblock %}

{% block content %}
<h1>hallo</h1>
    {% for friend in freunde_liste %}
        <p>{{ friend.id }}</p>
    {% endfor %}

    <form method="get">
        {% csrf_token %}
        
        <p>Alle User</p>
        <select name="input_all_users" multiple>
            {% for profile in profiles %}
            <option value="{{ profile.id }}">{{ profile }}</option>
            {% endfor %}
        </select>

        <p>Freunde</p>
        <select name="input_friends" multiple>
            {% for friend in friends %}
            <option value="{{ friend.id }}">{{ friend }}</option>
            {% endfor %}
        </select>

        <input name="room_name" type="text">

        <button type="submit">Posten</button>
    </form>

{% endblock content%}