{% extends 'base.html' %}

{% block title %}| {% endblock %}

{% block content %}
<section class="row" id="chat-row">
    <div class="flex-wrap-container chat-container">

        <div class="cc-chatwindow">
            <div class="chat-messages" id="chat-messages">
                
                    {% for message in messages %}
                    <div class="flex-wrap-container">
                        {% if message.user == request.user %}
                        <div id="own-messages">
                            <!-- <p class="chat-name">{{ message.user.username }}</p> -->
                            <p class="chat-message-box">{{ message.content }}</p>   
                        </div>
                        {% else %}
                        <div id="other-messages">
                            <p class="chat-name">{{ message.user.username }}</p>
                            <p class="chat-message-box">{{ message.content }}</p>   
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>

            <div>
                <div class="chat-form">
                    <form method="post" action="." class="flex-wrap-container">
                        <input type="text" name="content" class="chat-form-input" placeholder="Deine Nachricht..." id="chat-message-input">

                        <button class="colorfull-btn chat-form-button" id="chat-message-submit">Senden</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="cc-namelist">
            {% for user in username_list %}
            <a href="{% url 'profile_detail' user.profile.pk %}">
                <img src="{{ user.profile.avatar.url }}" alt="">
                <p>{{ user.username }}</p>
                <p style="color: red;" id="status"></p>
            </a>
            <hr class="colorfull-line">
            {% endfor %}
        </div>
    </div>
    
    <!-- <p>{{ user.profile.chat_status }}</p> -->
    
</section>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<!-- {{ request.user.profile.chat_status|json_script:"json-chatstatus" }} -->
{{ user.profile.avatar.url|json_script:"json-profileavatar" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    // const userStatus = JSON.parse(document.getElementById('json-chatstatus').textContent);


    // Websocket Connection:

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'status': 'online', 
            'username': userName,
        }));
    };

    chatSocket.onmessage = function(e) {
        console.log('onmessage');

        const data = JSON.parse(e.data);
        const profileAvatar = JSON.parse(document.getElementById('json-profileavatar').textContent);

        if (data.status){
            let html = data.status + ' ' + data.username;
            document.querySelector('#status').innerHTML += html;
        }

        if (data.message){
        
            let html = '<div id="own-messages">';
                html += '<p class="chat-message-box">'+ data.message + '</p></div>';

                document.querySelector('#chat-messages').innerHTML += html;
                scrollToBottom();
        }
    }

    chatSocket.onclose = function(e) {
        chatSocket.send(JSON.stringify({
            'status': 'offline', 
            'username': userName,
        }));
    }

    // Nachricht senden:

    document.querySelector('#chat-message-submit').onclick = function(e){
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,
        }));

        messageInputDom.value = ''; //zurücksetzen der variable

        return false;
    }

    // Automatisch zum Ende der Nachrichten scrollen:

    function scrollToBottom(){
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom(); // um funktion aufzurufen
    
</script>
{% endblock %}