{% extends 'base.html' %}

{% block title %}Chatrooms | {% endblock %}

{% block content %}

{% for room in rooms %}
    {% if request.user.id|stringformat:"i" in room.slug %} <!-- wir wandeln unsere id in einen string um, "i" heißt das unser ursprünglicher wert ein int ist-->
        <div>
            {% for key, value in profile_dict.items %}
                {% if key in room.slug and request.user.id|stringformat:"i" != key %}
                    <h2>Chat mit: {{ value }}</h2>
                {% endif %}
            {% endfor %}
            <a href="{% url 'room' room.slug %}">Chat beitreten</a>
        </div>
        
    {% endif %}
{% endfor %}

{% endblock content%}