<!DOCTYPE html>
<html lang="de">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Um Ajax zu nutzen -->
    <title>{% block title %}{% endblock %}Seeeker</title>
</head>
<body>
    
    <nav class="flex main-menu">
        <div>
            <a class="logo" href="{% url 'home' %}">Seeeker</a>
        </div>

        <div class="flex">
            {% if user.is_authenticated %}
                <a class="profile" href="{% url 'profile_detail' pk=request.user.id %}">{{ request.user.username }}</a>
                <a class="logout" href="{% url 'logout' %}">Logout</a>

                {% if notifications %}
                    <a class="notifications" href="{% url 'notifications' %}">
                    Benachrichtigungen <span class="notification-badge"></span>
                    </a>
                {% else %}
                    <a class="notifications" href="{% url 'notifications' %}"> Benachrichtigungen</a>
                {% endif %}

                <!-- hier notifications -->
                {% comment %} <p> NOTIFICATIONS </p>
                <ul id="notificationsList"></ul> {% endcomment %}
                    
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Registrieren</a>
            {% endif %}
        </div>
        <div id="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <div class="side-bar">
        <nav class="flex-wrap-container">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_detail' pk=request.user.id %}">Mein Profil</a>

                <a href="{% url 'profile_list' %}">Alle User</a>
                <a href="{% url 'profile_edit' %}">Profil bearbeiten</a>
                <a href="{% url 'user_filter' %}">Seeeeeek</a>
                <a href="{% url 'add_terms' %}">Wörterliste++ (nur für uns)</a>
                <a href="{% url 'notifications' %}">Benachrichtigungen</a>

                
                <a href="{% url 'rooms' %}">Chatrooms</a> 
                <a href="{% url 'group_chat' %}">Gruppe erstellen</a>

                <a class="logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Registrieren</a>
            {% endif %}
        </nav>
    </div>
    

    <div class="row">
        {% block content %}

        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    <script>
        // JavaScript für Dropdownmenue

        var sideBar = document.querySelector('.side-bar');

        document.getElementById('burger-menu').onclick = function(e){
            sideBar.classList.toggle('slide');
        }
    </script>


    {% comment %} 
    
    <script>
        // Javascript für notifications 

        {% if user.is_authenticated %}
        const notificationSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/notifications/'
        );
    
        notificationSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
    
            if (data.type === 'notification') {
                displayNotification(data.notification_info, data.notification_link);
            }
        };
    
        notificationSocket.onclose = function(e) {
            console.error('Notification socket closed unexpectedly');
        };
    
    
        function displayNotification(info, link) {
            var notificationList = document.getElementById("notificationList");
            var notificationElement = document.createElement("li");
            notificationElement.innerHTML = `<a href="${link}">${info}</a>`;
            notificationList.appendChild(notificationElement); // Füge nitificatuions zur Liste hinzu
        }


        document.getElementById("notificationButton").onclick = function() {
            var dropdown = document.getElementById("notificationDropdown");
            dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
        };

        function fetchUnsentNotifications() {
            fetch("{% url 'unsent_notifications' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.notifications) {
                        data.notifications.forEach(notification => {
                            displayNotification(notification.notification_info, notification.notification_link);
                        });
                    }
                })
                .catch(error => console.error('Fehler beim Abrufen von Benachrichtigungen:', error));
        }
    
        // Funktion aufrufen, wenn Seite geladen wird
        document.addEventListener('DOMContentLoaded', function() {
            fetchUnsentNotifications();
        });

        {% endif %}
    </script> 

    {% endcomment %}

</body>
</html>