{% extends 'base.html' %}

{% block content %}

<!-- zeigen wir oben den usernamen des Profilinhabers an -->
<h2> {{ profile.user }}</h2>

<!-- hier sind die Profildetails des Users -->
<p><strong>Avatar:</strong> <img src="{{ profile.avatar.url }}" alt="avatar"> </p>
<p><strong>Bio: </strong>{{ profile.bio }}</p>
<p><strong>Interessen: </strong>{{ profile.interests }}</p>

<br><br>

<!-- Wenn der angemeldete user.id nicht identisch ist mit der profil.id ..   -->
<!-- und wenn dieser user nicht unter den friends ist und auch kein friendrequest besteht  -->
<!-- dann soll ein friendrequest-link,angezeigt werden -->
<!-- andernfalls wird gesagt, dass der user bereits mit dir befreundet ist oder du bereits eine anfrage gesendet hast -->
<!-- und wenn es dein eigenes profil ist, dann soll stehen: "Dein Profil" -->



{% if request.user.id != profile.user.id %}
    {% if request.user not in freunde %}

        <strong>Hier sollte "Freundschaftsanfrage" oder "gibt schon friendrequest" stehen</strong>, das buggt noch (2023-11-28)<<  <br>
        >>Hier sind Debugging-Statements, zm prüfen, die vorrübergehend am start sind: <br>
        ..... Request-User:{{ request.user.username }} <br>
        ..... Profile-user:{{ profile.user.username }} <br>
        ..... Freunde Eingehend: {{ freund_eingehend }} <br>
        ..... Freund ausgehend:  {{ freund_ausgehend }} <br> <br>



        {% if request.user.username not in freund_ausgehend and profile.user.username not in freund_eingehend %}  
            <a href="{% url 'send_friend_request' to_user_id=profile.user.id %}">Freundschaftsanfrage senden</a>
        {% elif request.user in freund_eingehend %}  
            Du hast bereits eine Anfrage von <strong>{{ profile.user.username }}</strong> erhalten!
            <a href="{% url 'friend_requests' %}">meine Freundschaftsanfragen überblicken!</a>
        {% elif request.user in freund_ausgehend %}
            Du hast bereits ne Freundesanfrage an <strong>{{ profile.user.username }}</strong> gesendet, mein Lieber!
        {% endif %}


    {% else %}
        <p>{{ profile.user.username }} ist bereits mit dir connected, mään!</p> 
        Aber wenn du keinen Bock mehr auf ihn hast: (hier wird ein link zum Deleten stehen, muss noch , gibt funktion: remove_friend in views)

    {% endif %}
{% else %}
    <p>Du befindest dich auf DEINEM Profil, <strong>{{ request.user.username }}</strong>.</p>
{% endif %}




<br>
<br>
<br>

<p>--------------------------------------------------</p>
<h3>Meine Freunde</h3>  <br>
    Du hast hier derzeit <strong>{{ num_freunde }}</strong> Freunde:

<ul>
    {% for freund in freunde %}
        {% if user.username != freund.from_user.username %}
            <li><strong>{{ freund.from_user.username }}</strong> ...ist dein Freund!</li>
        {% else %}
            <li><strong>{{ freund.to_user.username }}</strong> ...ist dein Freund!</li>
        {% endif %}
    {% endfor %}
</ul>







<br>
<div><a href="{% url 'friend_requests' %}"> >>> Zu den Friendrequests >>> </a></div>




{% endblock content %}
